@import 'data-uri-svg';
@import 'icons';

$scale: 40;
$scrubber-size: .2;
$icons: #ddd;
$accent: #fff;
$scrub: #dd0300;

@keyframes load {
	0% { background: darken($scrub, 20); }
	50% { background: $scrub; }
	100% { background: darken($scrub, 20); }
}

.froogaloopelise.wrapper {

	@import 'compass/reset';
	
	position: relative;
	overflow: hidden;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
	
	> iframe {
		position: relative;
		width: 100%;
		height: 100%;
		z-index: 0;
	}
	> .controls {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%; 
		height: $scale * 1px;
		z-index: 1;
		background: rgba(0,0,0,.8);
		transform: translateY(100%);
		transition: transform 400ms, opacity 2s;
		@media all and (max-width:600px){
			display: none;
		}
		&.loading {
			animation: load 2s infinite;
		}
		li {
			cursor: pointer;
			position: relative;
			float: left;
			width: $scale * 1px;
			height: $scale * 1px;
			background-position: 50% 50%;
			background-size: $scale * .45px auto;
			background-repeat: no-repeat;
			color: transparent;
			z-index: 3;
			cursor: pointer;
			&.play-pause { background-image: icon-pause($icons); }
			&.play-pause:hover { background-image: icon-pause($accent); }
			
			&.play-pause.paused { background-image: icon-play($icons); }
			&.play-pause.paused:hover { background-image: icon-play($accent); }
			
			// &.play-pause.playing { background-image: icon-play($icons); }
// 			&.play-pause.playing:hover { background-image: icon-play($accent); }
			&.fullscreen { background-image: icon-enter-fullscreen($icons); }
			&.fullscreen:hover { background-image: icon-enter-fullscreen($accent); }
			&.fullscreen.exit { background-image: icon-exit-fullscreen($icons); }
			&.fullscreen.exit:hover { background-image: icon-exit-fullscreen($accent); }
			&.rewind { background-image: icon-rewind($icons); }
			&.rewind:hover { background-image: icon-rewind($accent); }
			&.seek {
				position: absolute;
				height: $scale * $scrubber-size * 1px;
				width: 100%;
				top: $scale * $scrubber-size * -1px;
				left: 0;
				background: $icons;
				z-index: 2;
			}
			&.volume {
				width: 0;
				height: $scale * $scrubber-size * 1px;
				margin-top: $scale * (1px - $scrubber-size) / 2;
				margin-left: $scale * 1px;
				background: red;
				transition: width 400ms;
				transition-delay: 400ms;
				border-radius: $scale * (1px - $scrubber-size) / 2;
				background: $icons;
				&:before {
					position: absolute;
					display: block;
					content: '';
					left: $scale * -1px;
					top: $scale * (1px - $scrubber-size) / 2 * -1;
					width: $scale * 1px;
					height: $scale * 1px;
					background: icon-volume($icons) 50% 50% no-repeat;
					background-size: auto $scale * .45px;
				}
				&:hover {
					width: $scale * 2px;
					transition-delay: 0;
					&:before {
						background-image: icon-volume($accent);
					}
				}
				.volume-scrub {
					border-radius: $scale * (1px - $scrubber-size) / 2;
				}
			}
			.seek-scrub, .volume-scrub {
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				background: $scrub;
			}
		}
	}
	&:hover > .controls {
		transform: translateY(0%);
	}
	&.fullscreen {
		&, & iframe {
			width: 100% !important;
			height: 100% !important;
			max-width: none !important;
			max-height: none !important;
		}
		> .controls {
			max-width: 500px;
			bottom: 25%;
			left: 50%;
			transform: translate(-50%, -50%);
			box-shadow: 0 0 20px #000;
			opacity: 0;
			&:hover {
				opacity: 1;
				transform: translate(-50%, -50%);
			}
		}
	}
	
	
}